<div class="post-detail-box">
    <!-- Post Title / Message -->
    <h2 class="post-title">{{ post.message_html|safe }}</h2>

    <!-- Post Meta Info -->
    <div class="post-meta">
        <strong class="author">{{ post.user.username }}</strong> •
        <span class="username">
            <a href="{% url 'posts:for_user' username=post.user.username %}">
                @{{ post.user.username }}
            </a>
        </span>
        <time class="time">
            <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
                {{ post.created_at|date:"F j, Y, g:i a" }}
            </a>
        </time>
        {% if post.group %}
        <span class="group-name">in 
            <a href="#">{{ post.group.name }}</a>
        </span>
        {% endif %}
    </div>

    <!-- Delete Option -->
    <div class="media-footer">
        {% if user.is_authenticated and post.user == user and not hide_delete %}
            <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn-delete">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Delete
            </a>
        {% endif %}
    </div>
</div>